*{box-sizing: border-box;margin: 0;font-family: 'Roboto', sans-serif}
/* html{height: -webkit-fill-available} */
html,body{height: 100%;}
body{margin:0; padding: 0; background: #fff;}

.window {
    display: inline-flex;
    height: 100%;
    /* min-height: 100vh;
    min-height: -webkit-fill-available; */
}

.sidebar{
    background: #a7cbd128;
    padding: 8px;
}

.sidebar img {
    display: block;
    padding: 8px;
    border-radius: 5px;
    filter: invert(45%) sepia(0%) saturate(0%) brightness(82%) contrast(83%);
    cursor: pointer;
    width: 64px;
    margin-bottom: 7px;
}
.sidebar img:hover {
    background: #bbbbbb33;
}

.activescreen{
    width: calc(100vw - 97px);
    height: 100%;
}

.activescreen div{
    display: none;
}