*{box-sizing: border-box;margin: 0;font-family: 'Roboto', sans-serif}
/* html{height: -webkit-fill-available} */
html,body{height: 100%;}
body{margin:0; padding: 0; background: #fff;}

::-webkit-scrollbar{width:12px}
::-webkit-scrollbar-track{border: 1px solid #ddd;border-radius:8px;background:#f0f0ff}
::-webkit-scrollbar-thumb{border-radius:8px;background:#aaa}
::-webkit-scrollbar-thumb:hover{background:#777}
::-webkit-scrollbar-thumb:active{background:#444}

::selection {
  color: #fff;
  background: #333377;
}

.hidden{
    display: none;
}

.window {
    display: inline-flex;
    height: 100%;
    /* min-height: 100vh;
    min-height: -webkit-fill-available; */
}

.sidebar{
    text-align: center;
    font-size: 10px;
    background: #a7cbd128;
    padding: 8px;
}

.sidebar img {
    user-select: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
    filter: invert(45%) sepia(0%) saturate(0%) brightness(82%) contrast(83%);
    cursor: pointer;
    width: 64px;
    margin-bottom: 7px;
}
.sidebar img:hover {
    background: #bbbbbb33;
}

.activescreen{
    width: calc(100vw - 80px);
    height: 100%;
}

.stat{
    user-select: none;
    position: relative;
    display: inline-block;
    min-width: 140px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    margin-right: 0;
    /* border: 1px solid #444; */
    box-shadow: 0 1px 4px #444466;
    border-radius: 12px;
    background-color: #f0f0ff;
    font-size: 24px;
    text-align: center;
}
.stat ti{
    display: block;
    font-size: 14px;
    color: #444
}
.stat ex{
    position: absolute;
    display: block;
    font-size: 16px;
    color: #444
}

#processesgui{
    position: fixed;
    margin-left: 20px;
    width: calc(100% - 120px);
    height: calc(100% - 180px);
    overflow-y: scroll;
}
#processesgui div{
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f0f0ff;
    margin: 6px;
    padding: 12px;
}
.processesgui ti{
    display: inline-block;
    width: 25%;
    min-width: 250px;
}
.processesgui cp{
    display: inline-block;
    margin-right: 20px;
    min-width: 80px;
    width: 8%;
}
.divimitate{
    margin-left: 24px;
}
.divimitate ti{
    width: calc(25% - 30px);
}